// bower:scss
// endbower

$breakpoint-desktop: 1080px;
$breakpoint-tablet: 780px;
$breakpoint-mobile: 420px;

$black: #222;
$blue-accent: #c9f0f4;
$grey-seperator: rgba(34,34,34,0.3);

$hex-hover-anim-duration: .3s;

$bigmargin: 20px;
$smallmargin: 10px;
$smallestmargin: 5px;

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('../fonts/243743_0_0.eot');
  src: url('../fonts/243743_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/243743_0_0.woff') format('woff'),
  url('../fonts/243743_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../fonts/243743_1_0.eot');
  src: url('../fonts/243743_1_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/243743_1_0.woff') format('woff'),
  url('../fonts/243743_1_0.ttf') format('truetype');
}

// Hexagon Flipping animation
// Forward flip (part 1) ************************* /

@keyframes fakeflip {
    0%   {transform: rotateX(0deg);filter: grayscale(100%); opacity: 0.1;}
    49%  {transform: rotateX(90deg);filter: grayscale(100%); opacity: 0.1;}
    50%  {transform: rotateX(90deg);filter: grayscale(0); opacity: 0.9;}
    100% {transform: rotateX(0deg);filter: grayscale(0); opacity: 0.9;}
}

@keyframes fakeflipbackground {
    0%   {background-color: rgba(0,0,0,0)}
    99%  {background-color: rgba(0,0,0,0)}
}

@keyframes fakefliptextsize {
    0%   {transform: scaleY(1)}
    49%  {transform: scaleY(0)}
    50%  {transform: scaleY(0)}
    100% {transform: scaleY(1)}
}

@keyframes fakefliptextcolor {
    0%   {color: #222}
    49%  {color: #222}
    50%  {color: #FFF}
    100% {color: #FFF}
}

@keyframes fakefliptextcross {
    0%   {background-color: #222}
    49%  {background-color: #222}
    50%  {background-color: #FFF}
    100% {background-color: #FFF}
}

@keyframes fakefliptextcontentcompany {
    0%  {opacity: 1}
    49%  {opacity: 1}
    50%  {opacity: 0}
    100% {opacity: 0}
}

@keyframes fakefliptextcontentclient {
    0%  {max-height: 200px}
    49%  {max-height: 200px}
    50%  {max-height: 0}
    100% {max-height: 0}
}

@keyframes fakefliptextcontentproject {
    0%   {max-height: 0}
    49%   {max-height: 0}
    50%   {max-height: 200px}
    100%  {max-height: 200px}
}

// **************************************************

// Reverse "flip back" animation (Part 2) *********** /

// Even "symmetrical" aniamtions need reverse counterpart
// so that the new animation is triggered when you stop hovering

@keyframes fakeflipreverse {
    100%   {transform: rotateX(0deg);filter: grayscale(100%); opacity: 0.1;}
    50%  {transform: rotateX(90deg);filter: grayscale(100%); opacity: 0.1;}
    49%  {transform: rotateX(90deg);filter: grayscale(0); opacity: 0.9;}
    0% {transform: rotateX(0deg);filter: grayscale(0); opacity: 0.9;}
}

@keyframes fakeflipbackgroundreverse {
    90%   {background-color: rgba(0,0,0,0)}
    0%  {background-color: rgba(0,0,0,0)}
}

@keyframes fakefliptextsizereverse {
    0%   {transform: scaleY(1)}
    49%  {transform: scaleY(0)}
    50%  {transform: scaleY(0)}
    100% {transform: scaleY(1)}
}

@keyframes fakefliptextcolorreverse {
    100%   {color: #222}
    50%  {color: #222}
    49%  {color: #FFF}
    0% {color: #FFF}
}

@keyframes fakefliptextcrossreverse {
    100%   {background-color: #222}
    50%  {background-color: #222}
    49%  {background-color: #FFF}
    0% {background-color: #FFF}
}

@keyframes fakefliptextcontentcompanyreverse {
    100%  {opacity: 1}
    50%  {opacity: 1}
    49%  {opacity: 0}
    0% {opacity: 0}
}

@keyframes fakefliptextcontentclientreverse {
    100%  {max-height: 200px}
    50%  {max-height: 200px}
    49%  {max-height: 0}
    0% {max-height: 0}
}

@keyframes fakefliptextcontentprojectreverse {
    100%   {max-height: 0}
    50%   {max-height: 0}
    49%   {max-height: 200px}
    0%  {max-height: 200px}
}

//***************************

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.1);
  font-family: 'BrandonGrotesque-Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: $black;
  margin: 0;
}

strong {
  font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

span {
  display: block;
  text-decoration: underline;
  font-style: italic;
}

h1 {
  margin: $bigmargin 0;
  padding-bottom: 2px;
  font-size: 200%;
  border-bottom:1px solid $black;
  line-height: 100%;

  @media (min-width: $breakpoint-mobile) {
    font-size: 300%;   
  }

  @media (min-width: $breakpoint-tablet) {
    strong {
      white-space: nowrap;
      padding-top: 0px;
    }
  }

  strong {
    display: inline-block;
    white-space: auto;
    padding-top: 5px;
  }
}

h2 {
  position: relative;
  margin: $smallmargin 0;
  font-size: 150%;
  font-weight: normal;

  li {
    position: relative;
    width: 100%;
  }

  li:before{
    display: block;
    position: absolute;
    top: 48%;
    content: '';
    width: 100%;
    border-bottom: 1px solid $grey-seperator;
  }


  @media (min-width: $breakpoint-mobile) {

    &:before{
      display: block;
      position: absolute;
      top: 44%;
      content: '';
      width: 100%;
      border-bottom: 1px solid $grey-seperator;
    }

    li {
      display: inline-block;
      width: auto;

      &:after {
        content: ' / ';
        letter-spacing: 10px;
      }

      &:before {
        content: none;
      }
    }
  }
}

h3 {

    margin: $smallmargin 0;
    padding: 0 25px;
    font-size: 100%;
    font-weight: 400;

    li {
        display: inline-block;
        width: auto;

        &:after {
          content: ' / ';
          letter-spacing: 5px;
        }

        &:before {
          content: none;
        }
    }
}

.hidden {
  opacity: 0;
}

.loaded .loading-screen {
  background: rgba(0,0,0,0);
  pointer-events: none;

  * {
    display: none;
    pointer-events: none;
  }
}


.loading-screen {
  color: white;
  //display: table;
  display: block;
  position: absolute;
  width: 100%;
  height:100%;
  background: $black;
  z-index: 20;
  text-align: center;
  transition: background-color 2s;

  span {
    display: table-cell;
    vertical-align: middle;
  }

  .loading-hex {
    display:  inline-block;
    position: relative;
    top: 50%;
    margin-top: -54px;
    transform: rotateX(-180deg);

    .hexagon {
      display: inline-block;
      overflow: hidden;
      position: relative;
      right: -60px;

      &.inner {
        // width: 108px;
        // //transform-origin: 52px 30px;
        transform: rotateX(-180deg);
        // //transform: scale(0.9);
        // left: -60px;
        right: auto;
        // margin: 5.2px 6px;

        // div:first-child {
        //   border-right-color: $black;
        //   border-right-width: 27px;
        //   border-top-width: 47px;
        //   border-bottom-width: 47px;
        // }
        // div:nth-child(2) {
        //   background-color: $black;
        //   width: 54px;
        //   height: 93.6px;
        // }
        // div:last-child{
        //   border-left-color: $black;
        //   border-left-width: 27px;
        //   border-top-width: 47px;
        //   border-bottom-width: 47px;
        // }
        
        //width: 103.85px;
        left: -63px;
        margin: 2px;

        div:first-child {
          border-right-color: $black;
          border-right-width: 28.85px;
          border-top-width: 50px;
          border-bottom-width: 50px;
        }
        div:nth-child(2) {
          background-color: $black;
          width: 57.7px;
          height: 100px;
        }
        div:last-child{
          border-left-color: $black;
          border-left-width: 28.85px;
          border-top-width: 50px;
          border-bottom-width: 50px;
        }
      }

    }
  }

  .hexagon {
    div:first-child {
      float: left;
      border-right: 30px solid white;
      border-top: 52px solid transparent;
      border-bottom: 52px solid transparent;
    }

    div:nth-child(2) {
      float: left;
      width: 60px;
      height: 104px;
      background-color: white;
    }

    div:last-child {
      float: left;
      border-left: 30px solid white;
      border-top: 52px solid transparent;
      border-bottom: 52px solid transparent;
    }
  }

}

.main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../images/background.jpg') no-repeat center top;
  background-size: cover;
}

/* NAVIGATION ******************************/

.navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  pointer-events: none;
  z-index: 8;

  &.minimised {
    .nav-label {
      top: 65%;
    }
  }

  &.minimised,
  &.minimising {
    .nav-label span {
        opacity: 0;
    }
  }

  .nav-button {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;

    pointer-events: all;

    z-index: 8;

    .arrow {
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }

    &.active {

      z-index: 7;

      .hex div {
        background: $blue-accent;
      }

      .arrow {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }

    }

    &:hover {

      color: white;

      .hex div {
        background: $black;
      }

      .arrow:after, .arrow:before {
        background: white;
      }

    }

  }

  .nav-button:nth-child(n+2) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-label {
    position: absolute;
    top: 33%; //TODO fix vertical alignment
    left: 0;
    display: table;
    width: 100%;
    z-index: 5;

    .nav-label-inner {
      display:table-cell;
      vertical-align: middle;
    }
  }

  .hex {
    width: 100%;
    overflow: hidden;
    display: inline-block;
  }

  .hex .outer {
    position: relative;
    width: 100%;
    padding-bottom: 86.6%;/* =  width /0.866 */
    float: left;
    opacity: 0.999;
    overflow: hidden;
    margin-right: 0%;
    margin-top: -43.3%; /* Height/2 for half hexagon shape */

    background-color: white;

    -webkit-transform:  rotate(60deg) skewX(30deg);
    -ms-transform:  rotate(60deg) skewX(30deg);
    transform: rotate(60deg) skewX(30deg);

    //transition: $hex-hover-anim-duration ease-in-out;

    color: $black;

  }

  .hex .inner {
    position: absolute;
    width: 100%;
    text-align: center;
    overflow: hidden;

    background: white;

    -webkit-transform: skewX(-30deg) rotate(-60deg);
    -ms-transform: skewX(-30deg) rotate(-60deg);
    transform: skewX(-30deg) rotate(-60deg);

  }


  @media (max-width: $breakpoint-tablet) AND (min-width: $breakpoint-mobile) {

    .nav-button {
      width: 40%;
    }
    .nav-button:nth-child(n+2){
      position: relative;
      left: auto;
      top: auto;
      margin-left: -40.5%;
    }
  }

  @media (min-width: $breakpoint-tablet) {

    .nav-button {
      position: relative;
      left: auto;
      top: auto;
      width: 25%;
    }

    .nav-button:nth-child(1){
      margin-right: 12.3%;
    }

    .nav-button:last-child{
      position: relative;
      left: auto;
      top: auto;
      margin-left: 0;
    }

  }

}

.main-container[data-active-section='project'] .navigation,
.main-container[data-active-section='resume'] .navigation {
  display: none;
}

@media (min-width: $breakpoint-tablet) {

  .main-container[data-active-section='project'] .navigation,
  .main-container[data-active-section='resume'] .navigation {
    display: inline-block;
  }

}


/* PAGES ******************************/

section {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0;

  opacity: 0;
  z-index: 2;

  overflow-y: hidden;
}

.active {
  opacity: 1 !important;
  height: 100%;
  z-index: 3;
}

.resume .content,
.project-info .content {

  display: inline-block;
  height: 100%;
  padding: 0%;

  width: 100%;

  box-sizing: border-box;

  text-align: center;


  ul {
    list-style-type: none;
    padding: 0;

    li:after {
      content: ' /';
      letter-spacing: 5px;
    }

    li:last-child:after {
      content: '';
    }

  }

  .close.button {
    margin: 60px auto 0 auto;
  }

  .button:hover {
    color: white;
    .cross, .arrow {
      &:before, &:after {
        background: white;
      }
    }
  }

  .project-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 9% 10%;
    box-sizing: border-box;
    opacity: 0;
    text-align: center;
    pointer-events: none;

    &.minimised {
      .button {
        top: 65%;
      }
      .button span {
          opacity: 0;
      }
    }

    &.minimising {
      .button span {
          opacity: 0;
      }
    }

  }

  .project-nav > div {
      height: 50px;

      &.close.button {
        display: none;
        //padding: 0;
        opacity: 0;
        margin: 0;
      }
  }

  @media (min-width: $breakpoint-tablet){

    .project-nav {
      display: block;
      opacity: 1;
      >  * {
          pointer-events: all;
      }
    }

    .project-nav > div.close.button {
      display: inline-block;
      opacity: 1;
    }

    > .close.button {
      display: none;
      opacity: 0;
      padding: 15% 0 5% 0;
      margin: 0;
    }

    .summary {
      padding: 0 80px;
    }
  }

  @media (min-width: $breakpoint-mobile) AND (max-width: $breakpoint-tablet) {

    .close.button {
      padding: 15% 0 5% 0;
      box-sizing: border-box;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    .close.button {
      margin: 0 auto;
    }
  }

}

/* Resume */

.resume.active {
  display: inline-block;
}

.resume .content {
  overflow: scroll;
}

.resume .content .resume-text{

  display: block;
  // height: 87%;
  padding: 0 30px 10% 30px;
  overflow-y: auto;

  h3 {

    &.clients {
      li {
        font-family: 'BrandonGrotesque-Bold', Helvetica, Arial, sans-serif;
      }
    }
  }

  > div {
    margin-bottom: $bigmargin;
  }

  .close-button-container {
    position: fixed;
    top: 10%;
    width: calc(100% - 60px);
    padding: 0;
    margin-bottom: 0;

      .close.button {
        width: 44px;
        display: inline-block;
      }
  }

  @media (min-width: $breakpoint-desktop){
      padding: 16% 20% 10% 20%;
  }


  @media (min-width: $breakpoint-tablet) AND (max-width: $breakpoint-desktop){
      padding: 20% 20% 10% 20%;
  }

  @media (min-width: $breakpoint-mobile) AND (max-width: $breakpoint-tablet) {
      padding: 0% 20% 10% 20%;
  }

  @media (min-width: $breakpoint-tablet) {
      padding: 30px 30px 10% 30px;

      .close.button {
        display: none;
      }
  }

  @media (min-width: $breakpoint-mobile) {

    // height: 75%;

    .summary {
      padding: 0 80px;
    }

  }

}


.project-info {

  .content {
    display: inline-block;
    height: 100%;
    padding: 0%;
  }

  .project-nav {
    position: fixed;
    left: 0;
    width: 100%;
    display: none;
    padding: 9% 10%;
    box-sizing: border-box;
    opacity: 0;
    text-align: center;
    pointer-events: none;
  }

  .project-nav > div {
      height: 50px;

      &:nth-child(1) {
        float:left;
        * {
          float:left;
        }
        span {
          position: relative;
          top: 44px;
          left: -16px;
          display: inline-block;
        }
      }

      &:nth-child(2) {
        float:right;
        * {
          float:right;
        }
        span {
          position: relative;
          top: 44px;
          right: -16px;
          display: inline-block;
        }
      }

      &.close.button {
        display: none;
        //padding: 0;
        opacity: 0;
        margin: 0;
      }
  }

  .img-container img,
  iframe
  {
      display: inline-block;
      width: 100%;
      float: left;
  }

  iframe {
    height: auto // Set to precise height through js
  }


  .project-content {
    display: none;
    height: calc(100% - 100px);
    padding: 0 30px;

    opacity: 0;

    overflow-y: auto;

    > :last-child {
      padding-bottom: 20% !important;
    }

    &.active {
      display: block;
      opacity: 1;
    }
  }

  .content .project-content > div,
  .content .project-content > iframe {
    display: inline-block;
    margin: 1em 0;
  }

  .content .project-content .close.button {
    width: 44px;
    display: inline-block;
  }

  @media (min-width: $breakpoint-desktop) {
    .project-content {
      padding-top: 14% !important;
    }
  }

  @media (min-width: $breakpoint-tablet){

    .content .project-content {
      padding-top: 16% !important;
      height: 87%;

      .close.button {
        display: none;
      }
    }

    .img-container {
      width: 100%;
      .half-width {
        width: 50%;
      }
    }

   .content .project-content > div:not(.img-container):not(.line){
        padding: 0 100px !important;
    }

  }


  @media (min-width: $breakpoint-mobile) {

    iframe {
      height: 563px // Set to precise height through js
    }

    .content .project-content {
      height: 100%;
      padding: 0 20%;
    }

    .content .project-content > div:not(.img-container):not(.close.button){
        //margin-bottom: $bigmargin;
        padding: 0 50px;
    }
  }

}

.project-info.active {
  .close.button {
    z-index: 10;
  }
  .project-nav {
    z-index: 8;
  }
}


.portfolio {
  overflow-y: auto;
  background: rgba(241,241,241,0.3);
}

.portfolio .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Portfolio grid */

#project-grid {
  //overflow: hidden; // Removing this adds space at the bottom of the hex grid.
  width: 100%;
  margin: 0;
  padding: 0;
}

#project-grid li {
  position: relative;
  list-style-type: none;
  width: 100%; /* was previously (100-2.5) / 3.5 */
  padding-bottom: 86.6%;/* =  width /0.866 */
  float: left;
  overflow: hidden;
  visibility: hidden;
  margin-right: 0%;

  background-color: white;

  -webkit-transform:  rotate(60deg) skewX(30deg);
  -ms-transform:  rotate(60deg) skewX(30deg);
  transform: rotate(60deg) skewX(30deg);

  color: $black;

  a {
    -webkit-animation: fakeflipbackground 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakeflipbackground 0.2s;
  }

  img {
    -webkit-animation: fakeflipreverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakeflipreverse 0.2s;
  }

  .hextext-inner {
    -webkit-animation: fakefliptextsizereverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakefliptextsizereverse 0.2s;
  }

  &:not(.light-bg-img) {

    .hextext-inner {
      -webkit-animation: fakefliptextsizereverse 0.2s, fakefliptextcolorreverse 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextsizereverse 0.2s, fakefliptextcolorreverse 0.2s;
    }
    //color: white;
    .cross:before, .cross:after {
      -webkit-animation: fakefliptextcrossreverse 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextcrossreverse 0.2s;
    }
  }

}

#project-grid li * {
  visibility: visible;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}
#project-grid li > a{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;

  background: white;

  -webkit-transform: skewX(-30deg) rotate(-60deg);
  -ms-transform: skewX(-30deg) rotate(-60deg);
  transform: skewX(-30deg) rotate(-60deg);

  -webkit-backface-visibility: hidden;
}

/** MOBILE (Default) */

#project-grid li:nth-child(n+1) {
  -webkit-transform: rotate(60deg) skewX(30deg);
  -ms-transform: rotate(60deg) skewX(30deg);
  transform: rotate(60deg) skewX(30deg);
}

#project-grid li.mobile-nav-spacer {
  margin-bottom: -43%;
  opacity: 0;
}

// #project-grid li:last-child {
//   margin-bottom: 21.5%;
// }


/** DESKTOP Grid Layout */

@media (min-width: $breakpoint-tablet) {

  #project-grid li {
    width: 25%; /* was previously (100-2.5) / 3.5 */
    //padding-bottom: 21.6%;/* =  width /0.866 */
    padding-bottom: 21.675%;
    margin-right: 12.5%;
  }

  #project-grid li:nth-child(5n+5), #project-grid li:nth-child(5n+6), #project-grid li:nth-child(5n+7) {
    //margin-bottom: -21.5%; // Ideal is 21.649%
    margin-bottom: -21.65%; // Ideal is 21.649%
  }

  #project-grid li:nth-child(5n+4) {
    margin-right: 0;
  }

  #project-grid li:nth-child(5n+5), #project-grid li:nth-child(5n+6) {
    margin-left: 18.75%;
    margin-right: -6.25%;

    -webkit-transform: translateY(-50%) rotate(60deg) skewX(30deg);
    -ms-transform: translateY(-50%) rotate(60deg) skewX(30deg);
    transform: translateY(-50%) rotate(60deg) skewX(30deg);
  }

  #project-grid li.mobile-nav-spacer {
    display:none;
  }

  // #project-grid li:last-child {
  //   margin-bottom: 10.85%;
  // }

}

/** TABLET Grid Layout */

@media (max-width: $breakpoint-tablet) AND (min-width: $breakpoint-mobile) {

  #project-grid li{
    width: 40%;
    padding-bottom: 34.64%;/* =  width /0.866 */
    margin-right: 0;
  }

  #project-grid li:nth-child(3n+2) {
    margin-right: 20%;
  }

  #project-grid li:nth-child(3n+4) {

    margin-left: 30%;
    margin-bottom: -34.63%;

    -webkit-transform: translateY(-50%) rotate(60deg) skewX(30deg);
    -ms-transform: translateY(-50%) rotate(60deg) skewX(30deg);
    transform: translateY(-50%) rotate(60deg) skewX(30deg);
  }

  #project-grid li.mobile-nav-spacer {
    display:none;
  }

  // #project-grid li:last-child {
  //   margin-bottom: 10.85%;
  // }

}


/* HEX CONTENT */

#project-grid li img{

  position: relative;

  width: 100%;
  height: auto;

  filter: grayscale(100%);
  opacity: 0.1;

  &.fill-width {
    width: 100%;
    height: auto;
  }

  &.fill-height {
    width: auto;
    height: 100%;
  }

  &:hover {

  }

}

#project-grid li:hover {

  a {
    -webkit-animation: fakeflipbackgroundreverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakeflipbackgroundreverse 0.2s;
  }

  img {
    -webkit-animation: fakeflip 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakeflip 0.2s;
    transform: rotateX(0deg);
    filter: grayscale(0);
    opacity: 0.9;
  }

  .hextext-inner {
    -webkit-animation: fakefliptextsize 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakefliptextsize 0.2s;
  }

  &:not(.light-bg-img) {

    .hextext-inner {
      -webkit-animation: fakefliptextsize 0.2s, fakefliptextcolor 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextsize 0.2s, fakefliptextcolor 0.2s;
      color: white;
    }
    //color: white;
    .cross:before, .cross:after {
      -webkit-animation: fakefliptextcross 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextcross 0.2s;
      background-color: white;
    }
  }

}


/* Inner text */


.hextext {

  position: absolute;
  left: 0;
  top: 0;
  display: table;

  width: 100%;
  height: 100%;

  text-align: center;
  text-decoration: underline;
  font-style: italic;

  z-index: 2;

  .hextext-inner {
    display: table-cell;
    vertical-align: middle;

    .cross:before, .cross:after {
      width: 2px;
    }

    strong {
      display: block;
      min-height: 13px;
    }

  }

}

.hextext.company {

  text-decoration: none;
  font-style: normal;

  // * {
  //   -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  //   animation-direction: reverse;
  // }

  .cross:before, .cross:after {
    width: 1px;
  }

  strong {
    opacity: 1;
    overflow: hidden;
    height: auto;
    max-height: 200px; // Set to allow height to go back to auto
  }

  strong.company {
    -webkit-animation: fakefliptextcontentcompanyreverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakefliptextcontentcompanyreverse 0.2s;
  }

  strong.client {
    -webkit-animation: fakefliptextcontentclientreverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakefliptextcontentclientreverse 0.2s;
    letter-spacing: 1px;
    min-height: 0;
  }

  span {
    -webkit-animation: fakefliptextcontentprojectreverse 0.2s; /* Safari 4.0 - 8.0 */
    animation: fakefliptextcontentprojectreverse 0.2s;
    overflow: hidden;
    height: auto;
    max-height: 0;
  }

  &:hover {

    * {
      -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
      animation-direction: normal;
    }

    strong.company {
      -webkit-animation: fakefliptextcontentcompany 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextcontentcompany 0.2s;
      opacity: 0;
    }

    strong.client {
      -webkit-animation: fakefliptextcontentclient 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextcontentclient 0.2s;
      max-height: 0;
    }

    span {
      -webkit-animation: fakefliptextcontentproject 0.2s; /* Safari 4.0 - 8.0 */
      animation: fakefliptextcontentproject 0.2s;
      max-height: 200px;
    }

    .cross:before, .cross:after {
      width: 2px;
    }
  }
}



/* ICONS *******************************/

/* Cross */

.cross {
  display: inline-block;
  width: 44px;
  height: 44px;
  opacity: 1;
}

.cross:before, .cross:after {
  position: absolute;
  content: ' ';
  height: 44px;
  width: 1px;
  background-color: $black;
  border-radius: 10px;
}

.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.close.button {

  width: 44px;

  .cross {
    position: relative;
    width: 44px;
    height: 44px;
    float: left;
  }

  .cross:before, .cross:after {
    height: 44px;
  }

  .cross:before, .cross:after {
    width: 2px;
  }

  span {
    display: inline-block;
  }

}

/* Arrow */
.arrow {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  opacity: 1;
}

.arrow:before, .arrow:after {
  position: absolute;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: $black;
  border-radius: 10px;
}

.arrow:before {
  right: 13.55px;
}
.arrow:after {
  left: 13.55px;
}

.arrow.down {
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.arrow.up {
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.arrow.left {
  top: 11px;
  left: -11px;
  height: 22px;
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  transform: rotate(-90deg);
}

.arrow.right {
  top: 11px;
  right: -11px;
  height: 22px;
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  transform: rotate(90deg);
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.line {
  display: block !important;
  border-bottom: 1px solid #222;
  width: 100%;
  padding: 0 !important;
  margin: $smallmargin 0 !important;
}